{% extends "adminpanel/main.html" %}
{% block main %}
<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Subcategory</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="/adminpanel/">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="/adminpanel/subcategory/all/">All subcategory</a>
            </li>
            
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Add Row</h4>
                        <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                            <i class="fa fa-plus"></i>
                            Add Row
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Modal -->
                    <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header no-bd">
                                    <h5 class="modal-title">
                                        <span class="fw-mediumbold">
                                        New</span> 
                                        <span class="fw-light">
                                            Row
                                        </span>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
        
                                <div class="modal-body">
                                    <p class="small">Create a new row using this form, make sure you fill them all</p>
                                    <form action="/adminpanel/subcategory/save/" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-12">
        
                                                <div class="form-group form-group-default">
                                                    <label>Subcategory name</label>
                                                    {{form.name}}
                                                </div>
                                            </div>
        
                                            <div class="col-md-6 pr-0">
                                                <div class="form-group form-group-default">
                                                    <label>Select Category</label>
                                                    {{form.category}}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-group-default">
                                                    {{form.icon}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer no-bd">
                                            <button type="submit"  class="btn btn-primary">Add</button>
                                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
        
                                
                            </div>
                        </div>
                    </div>
        
                    <div class="table-responsive">
                        <table id="category_table" class="display table table-striped table-hover" >
                            <thead>
                                <tr style="color: white;">
                                    <th>Name</th>
                                    <th>Create at</th>
                                    <th>Update at</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <!-- <tfoot>
                                <tr style="color: white;">
                                    <th>Name</th>
                                    <th>Create at</th>
                                    <th>Update at</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot> -->
                                {% for i in select_sub %}
                                <tr id="subcategory_{{i.id}}"  style="color: rgb(190, 178, 178);">
                                    <td>{{i.name}}</td>
                                    <td>{{i.create_at|date:"d/m/Y H:i "}}</td>
                                    <td>{{i.update_at|date:"d/m/Y H:i "}}</td>
                                    <td>
                                        <div class="form-button-action">
                                            <a href="/adminpanel/subcategory/edit/{{i.id}}" type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            <button type="button"  onclick="deleteSubcategory({{i.id}})" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                   
                        </table>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</div>




{% endblock main %}